<!DOCTYPE html>
<html>
<head>
  <title>GameOn</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
</head>
<body>
   <nav>
    <div class="nav-wrapper grey darken-4">
      <a href="#!" class="brand-logo">GameOn</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <% if @current_user %>
          <li><a href="/match">Matches</a></li>
          <li><a href="/profile">Profile</a></li>
          <li><%= link_to "Log out",logout_path %></a></li>
        <% else %>
          <li><a href="/signup">Sign Up</a></li>
          <li><a href="/login">Log In</a></li>
        <% end %>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/match">Matches</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><div id="user-widget">
          </div></li>
      </ul>
    </div>

  <div class="container">
<%= yield %>

  </div>
</nav>
</body>
</html>
